/*------------------------------------------------------------------
Project:	Cillar - The Ultimate Portfolio Template
Version:	1.0
Last change:	13/11/2016
Assigned to:	ClaPat 
Primary use:	Showcase Portfolio 
-------------------------------------------------------------------*/

@import url("css/portfolio.css");
@import url("css/blog.css");
@import url("css/shortcodes.css");
@import url("css/assets.css");


/*------------------------------------------------------------------

01. General Styles
02. Preloader
03. Header
04. Secondary Menu
05. Full Screen Overlay Menu
06. Content Styles
07. Portfolio Filters
08. Portfolio Items
09. Portfolio Isotope Transitions
10. Project Page
11. Blog Page
12. Contact Page
13. Image & Div Animation
14. Shortcodes
15. Footer
16. Responsive Media Querries

-------------------------------------------------------------------*/

	
/* 1. General Styles */		
	
	html,body{
		font-family: 'Roboto', sans-serif;
		font-weight: 300;
		font-size:18px;
		height:100%;
		width:100%;
		color:#777777;
		background-color:#000;
	}
	
	html {
		box-sizing: border-box;
		margin-right: 0px!important;
		overflow: visible!important;
	}
	
	body {
		overflow-x:hidden;
		overflow-y:scroll;
		box-sizing: border-box;
		webkit-transition: opacity 0.2s ease-in-out 0s;
		transition: opacity 0.2s ease-in-out 0s;	
	}
	
	body.hidden {
		opacity:0;
	}
	
	
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
		border: 0;
		margin: 0;
		outline: 0;
		padding: 0;
		vertical-align: baseline;
	}
	
	article,
	aside,
	details,
	figcaption,
	footer,
	header,
	hgroup,
	nav,
	section {
		display: block;
	}
	
	audio,
	canvas,
	 {
		display: inline-block;
		max-width: 100%;
	}	
	
	address {
		font-style: italic;
		margin-bottom: 24px;
	}
	
	abbr[title] {
		border-bottom: 1px dotted #2b2b2b;
		cursor: help;
	}
	
	b,
	strong {
		font-weight: 400;
		color:#000;
	}
	
	cite,
	dfn,
	em,
	i {
		font-style: italic;
	}
	
	mark,
	ins {
		background: none repeat scroll 0 0 #000;
		text-decoration: none;
		color:#fff;
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 4px;
		text-transform: uppercase;
		padding:2px 5px;
		margin-bottom:10px;
		display:inline-block;
	}
	
	code,
	kbd,
	tt,
	var,
	samp,
	pre {
		font-family: monospace, serif;
		font-size: 15px;
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		line-height: 1.6;
	}
	
	pre {
		border: 1px solid rgba(0, 0, 0, 0.1);
		-webkit-box-sizing: border-box;
		-moz-box-sizing:    border-box;
		box-sizing:         border-box;
		margin-bottom: 24px;
		max-width: 100%;
		overflow: auto;
		padding: 12px;
		white-space: pre;
		white-space: pre-wrap;
		word-wrap: break-word;
	}
	
	blockquote,
	q {
		-webkit-hyphens: none;
		-moz-hyphens:    none;
		-ms-hyphens:     none;
		hyphens:         none;
		quotes: none;
	}
	
	blockquote:before,
	blockquote:after,
	q:before,
	q:after {
		content: "";
		content: none;
	}
	
	blockquote {
		color: #000;
		font-size: 18px;
		font-style: italic;
		font-weight: 300;
		line-height: 30px;
		margin-bottom: 24px;
		font-family:Georgia, "Times New Roman", Times, serif;
		border-left:2px #ddd solid;
		padding:20px 20px 20px 40px;
		letter-spacing: 0.01em;
	}
	
	blockquote span {
		display:block;
		margin-top:20px;
		font-weight:400;
		font-size:12px;
		font-style:normal;
		font-family: Verdana,Geneva,sans-serif;
		color:#999;
	}
	
	blockquote cite,
	blockquote small {
		color: #2b2b2b;
		font-size: 16px;
		font-weight: 400;
		line-height: 1.5;
	}
	
	blockquote em,
	blockquote i,
	blockquote cite {
		font-style: normal;
	}
	
	blockquote strong,
	blockquote b {
		font-weight: 400;
	}
	
	small {
		font-size: smaller;
	}
	
	big {
		font-size: 125%;
	}
	
	sup,
	sub {
		font-size: 75%;
		height: 0;
		line-height: 0;
		position: relative;
		vertical-align: baseline;
	}
	
	sup {
		bottom: 1ex;
	}
	
	sub {
		top: .5ex;
	}
	
	dl {
		margin-bottom: 24px;
	}
	
	dt {
		font-weight: bold;
	}
	
	dd {
		margin-bottom: 24px;
	}
	
	ul,
	ol {
		list-style: none;
		margin: 0 0 24px 20px;
	}
	
	ul {
		list-style: disc;
	}
	
	ol {
		list-style: decimal;
	}
	
	li > ul,
	li > ol {
		margin: 0 0 0 20px;
	}
	
	li {
		line-height: 20px;
		color:#333;
		margin-bottom:10px;
	}
	
	figure {
		margin:0;
		position:relative;
		display: inline-block;
	}
	
	figure img {
		max-width:100%;
	}
	
	fieldset {
		border: 1px solid rgba(0, 0, 0, 0.1);
		margin: 0 0 24px;
		padding: 11px 12px 0;
	}
	
	legend {
		white-space: normal;
	}
	
	button,	input {
		line-height: normal;
	}
	
	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}
	
	button, html input[type="button"], input[type="reset"], input[type="submit"] {
		cursor: pointer;
	}
	
	button[disabled],
	input[disabled] {
		cursor: default;
	}
	
	input[type="checkbox"],
	input[type="radio"] {
		padding: 0;
	}
	
	input[type="search"] {

		-webkit-appearance: textfield;
	}
	
	input[type="search"]::-webkit-search-decoration {
		-webkit-appearance: none;
	}
	
	button::-moz-focus-inner, input::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
	
	textarea {
		overflow: auto;
		vertical-align: top;
	}
	
	table, th, td {
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
	
	table {
		border-collapse: separate;
		border-spacing: 0;
		border-width: 1px 0 0 1px;
		margin-bottom: 24px;	
		width: 100%;
	}
	
	caption, th, td {
		font-weight: normal;
		text-align: left;
	}
	
	th {
		border-width: 0 1px 1px 0;
		font-weight: bold;
	}
	
	td {
		border-width: 0 1px 1px 0;
	}
	
	del {
		color: #767676;
	}
	
	hr {
		border: 0;
		height: 35px;
		width:100%;
		float:none;
		margin:0;
		display:inline-block;
	}
	
	hr.small {
		height:20px;
	}
	
	hr:after {
		clear: both;
		content: " ";
		display: block;
		height: 0;
		visibility: hidden;
	}
	
	::selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	::-moz-selection {
		background: #000;
		color: #fff;
		text-shadow: none;
	}
	
	img {
		border: 0 none;
		max-width: 100%;
		vertical-align: middle;
	}
		
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color:#000;
		margin-bottom:10px;
	}
	
	h1.big-title{
		font-size: 80px;
		font-style: normal;
		font-weight: 600;
		line-height: 110px;
		margin-left:-7px;
	}	
	
	h1{
		font-size:48px;
		line-height: 60px;
		margin-left:-3px;
	}
	
	h2{
		font-size: 36px;
		line-height: 48px;
		margin-left:-1px;
	}
	
	h3{
		font-size:30px;
		line-height: 36px;
		margin-left:-1px;
	}
	
	h4{
		font-size:24px;
		line-height: 30px;
		margin-left:-1px;	
	}
	
	h5{
		font-size:18px;
		line-height: 24px;
		margin-left:-1px;
	}
	
	h6{
		font-size:14px;
		line-height: 18px;
	}
	
	.col-content.light-content h1, .col-content.light-content h2, .col-content.light-content h3, .col-content.light-content h4, .col-content.light-content h5, .col-content.light-content h6 {
		color: #fff!important;
	}
	
	.light-content p {
		color:rgba(255,255,255,0.5);
	}
	
	.title-has-line {
		position:relative;
		margin-bottom:35px;
	}
	
	.title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -15px;
		content: "";
		height: 1px;
		left: 0;
		position: absolute;
		width: 30px;
	}
	
	.text-align-center .title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -15px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 30px;
	}
	
	.text-align-right.title-has-line:after {
		background: none repeat scroll 0 0 #d28e3d;
		bottom: -15px;
		content: "";
		height: 1px;
		left: 50%;
		margin-left: -20px;
		position: absolute;
		width: 30px;
	}
	
	p {
		font-size:18px;
		margin-bottom:15px;
		line-height:28px;
		color:#aaa;
	}
	
	p.no-margins {
		margin-bottom:0;
	}
	
	.bigger {
		font-size: 24px;
		font-weight: 400;
		line-height:36px;
		color:#222;
	}
	
	.smaller {
		font-family: "Montserrat",sans-serif;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 3px;
		color:#777;
		text-transform:uppercase;
	}
	
	.container {
		max-width:1240px;
		width:100%;
		margin:0 auto;
		padding: 0 50px;
		box-sizing:border-box;
	}
	
	.small .container {
		max-width:900px;
		width:100%;
		margin:0 auto;
		padding: 0 50px;
		box-sizing:border-box;
	}
	
	.full .container {
		width: 100%;
		max-width: 100%;
		padding: 0 125px;
	}
	
	.container::after {
		clear: both;
		content: " ";
		display: table;
	}
	
	a:hover, a:active {
	  outline: 0;
	  color: #000;
	}
	
	a {
        text-decoration: none;
        -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
           -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
            -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
             -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
                transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    }
	
	a {
		color: #000;
		outline: 0;
	}
	
	a:hover {
		text-decoration:none;
	}
	
	.one_half {
    	width: 47%;
	}	

	.one_third {
		width: 30.6%;
	}	

	.one_fourth {
		width: 22%;
	}	

	.one_fifth {
		width: 16.8%;
	}	

	.one_sixth {
		width: 13.33%;
	}	

	.two_fifth {
		width: 37.6%;
	}	

	.two_fourth {
		width: 48%;
	}		

	.two_third {
		width: 65.33%;
	}	

	.three_fifth {
		width: 58.4%;
	}	

	.three_fourth {
		width: 74%;
	}	

	.four_fifth {
		width: 79.2%;
	}	

	.five_sixth {
		width: 82.67%;
	}	

	.one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		float: left;
		margin-bottom: 20px;
		margin-right: 4%;
		position: relative;
	}
	
	.one_half {
		float: left;
		margin-bottom: 20px;
		margin-right: 6%;
		position: relative;
	}

	.last {
		margin-right:0px;
	}
	
	.text-align-center {
		text-align:center;
	}
	
	.text-align-left {
		text-align:left;
	}
	
	.outer {
		display:table;
		width:100%;
		height:100%;
	}
	
	.inner {
		display:table-cell;
		vertical-align:middle;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	
	.vc_row {
		position:relative;
		z-index:1;
	}
	
	.row_padding_top {
		padding-top:120px;
	}
	
	.row_padding_bottom {
		padding-bottom:100px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	main {
	overflow:hidden;
}

main .cd-main-content > div {
  height: 100%;
}

main .cd-main-content.cd-index {
  /* .cd-main-content basic style - index page */
  background-color: #fff;
  /* vertically center its content */
  
  width: 100%;
}
main .cd-main-content.cd-index > div {
  /* vertically center the content inside the .cd-index */
 
  vertical-align: middle;
}
main .cd-main-content.cd-index::after {
  background-color: rgba(64, 137, 166, 0);
  background-image: -webkit-linear-gradient(bottom, #4089a6, rgba(64, 137, 166, 0));
  background-image: linear-gradient(to top,#4089a6, rgba(64, 137, 166, 0));
}
main .cd-main-content.cd-index::before {
  background-color: rgba(64, 137, 166, 0);
  background-image: -webkit-linear-gradient(top, #4089a6, rgba(64, 137, 166, 0));
  background-image: linear-gradient(to bottom,#4089a6, rgba(64, 137, 166, 0));
}
main .cd-main-content.cd-about {
  /* .cd-main-content basic style - about page */
  background-color: #fff;
}
main .cd-main-content.cd-about > div {
  padding-top: 50px;
}
main .cd-main-content.cd-about::after {
  background-color: rgba(40, 48, 64, 0);
  background-image: -webkit-linear-gradient(bottom, #283040, rgba(40, 48, 64, 0));
  background-image: linear-gradient(to top,#283040, rgba(40, 48, 64, 0));
}
main .cd-main-content.cd-about::before {
  background-color: rgba(40, 48, 64, 0);
  background-image: -webkit-linear-gradient(top, #283040, rgba(40, 48, 64, 0));
  background-image: linear-gradient(to bottom,#283040, rgba(40, 48, 64, 0));
}


.bg-line {
	position:fixed;
	left:10%;
	height:100%;
	width:1px;
	top:0;
	background-color:#eee;
}

.cd-cover-layer {
  /* layer that covers the content when the animation is triggered */
  position: fixed;
  z-index:5000;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  height: 101%;
  width: 101%;
  opacity: 0;
  visibility: hidden;
  background-color: transparent;
  -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.4s;
  transition: opacity 0.6s 0s, visibility 0s 0.4s;
}

.cd-cover-layer.invisible {
	background-color:transparent;
}

.page-is-changing .cd-cover-layer {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0.3s, visibility 0s 0s;
}

	
	
	
	
	
	
	
	
	
	
	.menu-overlay #black-fade {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		opacity: 0;
		z-index: 0;
		-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
		-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
		-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
		transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-perspective: 1000;
		visibility: hidden;
		cursor:pointer;
		pointer-events: initial;
	}
	
	#black-fade.fade-in {
		opacity: 0.3;
		visibility:visible;
		-webkit-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.1s;
		-moz-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.1s;
		-o-transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.1s;
		transition: all 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) 0.1s;
	}
	
	header {
		opacity:1;
		width:100%;
		height:120px;
		left:0;
		top:0;
		position:fixed;
		box-sizing:border-box;
		z-index:100;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	header.nav-hide {
		top:-120px;
		
	}
	
	#header-container {
		box-sizing: border-box;
		padding: 0 125px;
		height: 50px;
		margin: 35px auto;
		max-width: 100%;
		position: relative;
		width: 100%;
		z-index: 20;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	#logo {
		position:relative;
		display:inline-block;
		pointer-events: auto;
		z-index:10;
	}
	
	#logo a {
		display:block;
	}
	
	#logo a.disable {
		pointer-events: none;
	}
	
	#logo img {
		display: block;
		height: 50px;
		width: auto;
		-webkit-transition: opacity 0.2s ease-in-out;
		-moz-transition: opacity 0.2s ease-in-out;
		-o-transition: opacity 0.2s ease-in-out;
		-ms-transition: opacity 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out;
	}
	
	#logo img.black-logo {
		opacity:1;
	}
	
	.light-content #logo img.black-logo {
		opacity:0;
	}
	
	.menu-open.light-content #logo img.black-logo, .initial.light-content #logo img.black-logo {
		opacity:1;
	}
	
	
	.menu-open.light-content .slide-in #logo img.black-logo {
		opacity:0;
	}
	
	#logo img.white-logo {
		position:absolute;
		top:0;
		left:0;
		opacity:0;
	}
	
	.light-content #logo img.white-logo {
		opacity:1;
	}
	
	.menu-open.light-content #logo img.white-logo, .initial.light-content #logo img.white-logo {
		opacity:0;
	}
	
	.menu-open.light-content .slide-in #logo img.white-logo {
		opacity:1;
	}
	
	@media all and (min-width: 1024px) {
	
	nav {
		position:relative;
		float:right;
		right:0;
		width:auto;
		top:0px;
	}
	
	.flexnav {
		display: block;
		float: right;
		position: relative;
		width: auto;
	}

	
	.flexnav li ul {   
    	min-width: 150px;
	}	
	
	.flexnav .touch-button {
		background: transparent none repeat scroll 0 0;
	}	
	
	.flexnav .touch-button .navicon {
		display:none;
	}
	
	.flexnav li {    
		background: transparent none repeat scroll 0 0;
		margin-left:60px;
	}
	
	.flexnav li:after {
		width: 100%;
		height: 1px;
		position: absolute;
		content: "";
		background-color:rgba(0,0,0,0.2);
		left: 0;
		bottom: 15px;
	}
	
	.light-content .flexnav li::after {
		background: rgba(255,255,255,0.2);
	}
	
	.flexnav li a {    
		background: transparent none repeat scroll 0 0;
		padding: 15px 0 20px 0;
		position:relative;
		border-left: medium none;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		color:#000;		
		font-size:14px;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		-ms-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}
	
	.flexnav li a.active, .flexnav li:hover a {
		color:#000;
	}
	
	.flexnav li ul li a { 
		padding:0 20px 20px;
		background-color:#fff;
		font-size:13px;
		font-family: 'Roboto', sans-serif;
		font-weight:400;
		text-transform:none;
		color:#aaa!important;
		-webkit-transition: all 0.05s ease-in-out;
		-moz-transition: all 0.05s ease-in-out;
		-o-transition: all 0.05s ease-in-out;
		-ms-transition: all 0.05s ease-in-out;
		transition: all 0.05s ease-in-out;
	}
	
	.flexnav li ul li a.active, .flexnav li ul li a:hover {
		color:#000!important;
	}
	
	.flexnav li a::after {
		content: '';
        position: absolute; 
		bottom: 15px; 
		left: 0;
        width: 100%;
        height: 1px;
		z-index:0;
        background: rgba(0,0,0,1);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
	}
	
	.light-content .flexnav li a::after {
		background: rgba(255,255,255,1);
	}
	
	.flexnav li:hover a::after, .flexnav li a.active::after {
		transform: scaleX(1);
		transform-origin: left;
	}
	
	.flexnav li > ul li {
		margin-left:0;
	}
	
	.flexnav li ul li a::after {
		content: none;
	}
	
	.flexnav li ul {
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
		-webkit-transform: translate3d(0px, 20px, 0px);
		-moz-transform: translate3d(0px, 20px, 0px);
		-o-transform: translate3d(0px, 20px, 0px);
		-ms-transform: translate3d(0px, 20px, 0px);
		transform: translate3d(0px, 20px, 0px);
		display:block!important;
		opacity:0;
		visibility:hidden;
		left:-20px;
		padding-top:20px;
		background: #fff;
	}
	
	.flexnav li ul.flexnav-show {
		-webkit-transform: translate3d(0px, 0px, 0px);
		-moz-transform: translate3d(0px, 0px, 0px);
		-o-transform: translate3d(0px, 0px, 0px);
		-ms-transform: translate3d(0px, 0px, 0px);
		transform: translate3d(0px, 0px, 0px);
		opacity:1;
		visibility:visible;
		
	}
	
}

	#menu-burger {
		width: 22px;
		height: 18px;
		position: relative;
		float:right;
		margin: 0;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		-webkit-transition: .5s ease-in-out;
		-moz-transition: .5s ease-in-out;
		-o-transition: .5s ease-in-out;
		transition: .5s ease-in-out;
		cursor: pointer;
		top: 11px;
		right: 0;
		display:none;
		z-index:2;
		pointer-events: initial;
	}
	
	.menu-overlay #menu-burger {
		display:block;
	}

	#menu-burger span {
	  display: block;
	  position: absolute;
	  height: 2px;
	  width: 100%;
	  background: #000;
	  opacity: 1;
	  right: 0;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	  -webkit-transition: 0.2s ease-in-out;
	  -moz-transition: 0.2s ease-in-out;
	  -o-transition: 0.2s ease-in-out;
	  transition: 0.2s ease-in-out;
	}
	
	.light-content #menu-burger span {
		background:#fff;
	}
	
	.menu-open.light-content #menu-burger span, .initial.light-content #menu-burger span {
		background:#000;
	}

	#menu-burger span:nth-child(1) {
	  top: 0px;
	}
	
	#menu-burger span:nth-child(2),#menu-burger span:nth-child(3) {
	  top: 7px;
	}
	
	#menu-burger span:nth-child(4) {
		top: 14px;
		width: 60%;
	}
	
	#menu-burger:hover span:nth-child(4) {
		width: 100%;
	}
	
	#menu-burger.open span:nth-child(1) {
	  top: 7px;
	  width: 0%;
	  right: 50%;
	}
	
	#menu-burger.open span:nth-child(2) {
	  -webkit-transform: rotate(45deg);
	  -moz-transform: rotate(45deg);
	  -o-transform: rotate(45deg);
	  transform: rotate(45deg);
	}
	
	#menu-burger.open span:nth-child(3) {
	  -webkit-transform: rotate(-45deg);
	  -moz-transform: rotate(-45deg);
	  -o-transform: rotate(-45deg);
	  transform: rotate(-45deg);
	}
	
	#menu-burger.open span:nth-child(4) {
	  top: 7px;
	  width: 0%;
	  right: 50%;
	}
	
	
	
	
	
	
	
	
	
	
	.page-overlay {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.page-overlay .animate-box-bottom {
	  position: absolute;
	  width: 100%;
	  height: 101%;
	  -webkit-transition: -webkit-transform .0s;
	  transition: -webkit-transform .0s;
	  transition: transform .0s;
	  transition: transform .0s, -webkit-transform .0s;
	  background-color: #000;
	}
	.page-overlay .animate-box-bottom {
	  -webkit-transform: translateY(101%);
			  transform: translateY(101%);
	}
	
	.page-overlay.from-bottom {
	  z-index: 120;
	}
	
	.page-overlay.from-bottom .animate-box-bottom {
	  transition: transform .4s ease-in-out;
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	
	.page-overlay.from-bottom-end .animate-box-bottom {
	  transition: transform .5s ease-in-out 0.3s;
	  -webkit-transform: translateY(-101%);
			  transform: translateY(-101%);
	}
	
	
	
	#hero {
		overflow:hidden;
		position:fixed;
		width:100vw;
	}
	
	#hero.normal {
		position:relative;
	}
	
	#hero.normal #hero-styles, #hero.normal #hero-bg-image {
		position:absolute;
	}
	
	#hero-styles {
		position: fixed;
		width: 100vw;
		top: 0;
		left: 0;
	}
	
	#hero-caption {
		display: table;
		width: 100%;
		padding-top:120px;
		max-width:1280px;
		margin:0 auto;
		height: 100%;
		position:relative;
		opacity:0;
		box-sizing:border-box;
	}
	
	#hero-caption.animate {
		opacity:1;
	}
	
	#hero-bg-image.animate {
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
		transition: all 800ms cubic-bezier(0.645, 0.045, 0.355, 1.000);
	}
	
	#hero-height {
		pointer-events: none;
		position:relative;		
		width:100vw;
		-webkit-transition: all 0.5s ease-in-out 0.9s;
		transition: all 0.5s ease-in-out 0.9s;	
	}
	
	#hero-height.hidden {
		margin-bottom:20vh;
	}
	
	#hero, #hero-height, #hero-styles {
		height:80vh;
	}
	
	.hero-title {
		font-size: 80px;
		font-weight: 600;
		font-family: 'Poppins', sans-serif;
		color:#000;
		position:relative;
		z-index:10;
		line-height:40px;
		-webkit-transition: color 0.2s ease-in-out 0s!important;
		transition: color 0.2s ease-in-out 0s!important;
	}
	
	.light-content .hero-title {
		color:#fff;
	}
	
	.hero-title span {
		display: inline-block;
		margin: 0 7px;
		line-height: 100px;
		height: 100px;
		overflow: hidden;
		padding-top: 140px;
		box-sizing: border-box;
	}
	
	.animate .hero-title span {
		padding-top:0;
		-webkit-transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
		transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
	}
	
	.hero-subtitle {
		font-size: 16px;
		color: #000;
		width: 100%;
		z-index: 10;
		-webkit-transition: color 0.2s ease-in-out 0s !important;
		transition: color 0.2s ease-in-out 0s !important;
	}

	
	.light-content .hero-subtitle {
		color:#fff;
		opacity:0.5;
	}
	
	.hero-subtitle span {
		display: inline-block;
		margin:0 3px;
		line-height: 30px;
		height: 30px;
		overflow: hidden;
		padding-top: 30px;
		box-sizing: border-box;
	}
	
	.animate .hero-subtitle span {
		padding-top:0;
		-webkit-transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
		transition: padding 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.8s;
	}
	
	#hero-image {
		background-size:cover;
		position:relative;
		width:100%;
		height:100vh;
		opacity:1;		
		background: center center no-repeat fixed;
	}
	
	#hero-image.bgrelative {
		background: center center no-repeat scroll;
	}
	
	#image-border-left, #image-border-right {
		height: 100%;
		width: 14%;
		position: absolute;
		top: 0;
		-webkit-transform: translateX(0);
		-moz-transform: translateX(0);
		-ms-transform: translateX(0);
		-o-transform: translateX(0);
		transform: translateX(0);
		background: #fff;
	}
	
	#image-border-left {
		left:0;
	}
	
	#image-border-right {
		right:0;
	}
	
	
	
	
	
	
	
	
	
	
	#main {
		position:relative;
	}
	
	#main.hidden {
		-webkit-transition: all 0s ease-in-out 0.4s;
		transition: all 0s ease-in-out 0.4s;
		opacity:0;
	}
	
	#main-content {
		opacity:1;
		position:relative;
	}	
	
	.page-action-overlay {
		position:fixed;
		z-index:1000;
		height:100vh;
		width:100vw;
		top:0;
		left:0;
		right:0;
		bottom:0;
		opacity:0;
		visibility:hidden;
		background-color:rgba(0,0,0,0.85);
		-webkit-transition: all 0.2s ease-in-out 0.5s;
		transition: all 0.2s ease-in-out 0.5s;
	}
	
	.page-action-overlay.active {
		opacity:1;
		visibility:visible;
		-webkit-transition: all 0.2s ease-in-out 0.1s;
		transition: all 0.2s ease-in-out 0.1s;
	}
	
	.close-page-action {
		position:fixed;
		height:100vh;
		width:100vw;
		top:0;
		left:0;
		right:0;
		bottom:0;
		cursor: url("images/close.png"), e-resize;
	}
	
	
	
	
	
	
	
	
	footer {
		position:relative;
		padding:70px 0 110px 0;
		width:100%;
		height:auto;
	}
	
	.socials-text {
		height: auto;
		line-height: 25px;
		position: relative;
		width: 100%;
		margin: 0;
		text-align: center;
		bottom: 0;
	}
	
	.socials-text li {
		margin-right: 40px;
		margin-left: 0px;
		list-style:none;
		display:inline-block;
		color:#999;
		font-size:15px;
		margin-bottom:0;
		line-height:30px;
		position:relative;
	}
	
	.socials-text li::after {
		width: 100%;
		height: 1px;
		position: absolute;
		content: "";
		background-color:rgba(0,0,0,0.2);
		left: 0;
		bottom: 0;
	}
	
	.light-content .socials-text li::after {
		background-color:rgba(255,255,255,0.2);
	}

	
	.socials-text li:last-child {
		margin-right: 0px;
	}
	
	.socials-text li a {
		color: #000;		
		font-size:14px;
		font-weight: 500;
		font-family: 'Poppins', sans-serif;
		display: block;
	}
	
	.light-content .socials-text li a {
		color: #fff;
	}
	
	.socials-text li a:before {
        content: '';
        position: absolute; 
		bottom: 0px; 
		left: 0;
        width: 100%;
        height: 1px;
		z-index:0;
        background: rgba(0,0,0,1);
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .2s ease-out, opacity .2s ease-out 0.3s;
    }
	
	.light-content .socials-text li a:before {
		background: rgba(255,255,255,1);
	}
  
    .socials-text li a:hover::before {
		transform: scaleX(1);
		transform-origin: left;
	}

	
	
	
	
	
	#page-action-holder {
		position: fixed;
		left: 45px;
		bottom: 100px;
		height: 40px;
		width: 40px;
		border-radius:40px;		
		opacity:0;
		z-index:10;
		box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.light-content #page-action-holder {
		box-shadow: inset  0 0 0 2px rgba(255,255,255,0.2);
	}
	
	#page-action-holder.is-active.is-visible {
		opacity:1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		
	}
	
	#page-action-holder:hover {
		box-shadow: inset  0 0 0 2px rgba(0,0,0,1);
	}
	
	.light-content #page-action-holder:hover  {
		box-shadow: inset  0 0 0 2px rgba(255,255,255,1);
	}
	
	#open-filters {
		cursor:pointer;
		width:40px;
		height:40px;
		line-height:39px;
		text-align:center;
		color:#000;
	}
	
	.light-content #open-filters {
		color:#fff;
	}
	
	#backtoworks {
		cursor:pointer;
		width:40px;
		height:40px;
		line-height:39px;
		text-align:center;
		color:#000;
	}
	
	.progress-page {
		position: fixed;
		right: 45px;
		bottom: 100px;
		height: 40px;
		width: 40px;
		border-radius:40px;
		box-shadow: inset  0 0 0 2px rgba(0,0,0,0.2);
		opacity:0;
		z-index:10;
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		webkit-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.light-content .progress-page {
		box-shadow: inset  0 0 0 2px rgba(255, 255, 255, 0.2);
	}
	
	.progress-page.disable {
		opacity:0!important;
	}
	
	.progress-page.is-active.is-visible {
		opacity:1;
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
		
	}

	.progress-page svg path { 
		fill: none; 
	}

	.progress-page svg.progress-circle path {
		stroke: rgba(0, 0, 0, 1);
		stroke-width: 4;
		box-sizing:border-box;
	}
	
	.light-content .progress-page svg.progress-circle path {
		stroke: rgba(255, 255, 255, 1);
	}
	
	.scrolltotop {
		height: 40px;
		right: 0px;
		bottom: 100px;
		width: 40px;
		cursor:pointer;
		opacity:0;
		position:absolute;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.scrolltotop.is-active.is-visible {
		opacity:1;
		bottom:0;
	}
	
	.scrolltotop.is-active.is-visible:hover {
		bottom:1px;
		opacity:1;
	}
	
	.arrow-top {
		border-bottom: 2px solid #000;
		border-left: 2px solid #000;
		height: 6px;
		transform: rotate(135deg);
		width: 6px;
		position:absolute;
		left:16px;
		top:14px;
	}
	
	.arrow-top-line {
		background-color: #000;
		height: 14px;
		left: 50%;
		position: absolute;
		top: 13px;
		width: 2px;
		margin-left:-1px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
	
	.scrolltotop:hover .arrow-top-line {
		height:16px;
		top: 15px;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

		
/*--------------------------------------------------
	16. Responsive
---------------------------------------------------*/			
			



@media only screen and (max-width: 1466px) {
	
	/* Header And Footer */
	
	#header-container {
		padding: 0 80px;
	}
	
	.menu-overlay.slide-in nav {
		width:40vw;
    	-webkit-transform: translateX(40vw);
    	transform: translateX(40vw);
	}
	
	.menu-overlay nav.open {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	#page-action-holder {
    	left: 20px;
	}
	
	.progress-page {
		right: 20px;
	}
	
	/* Hero Styles */
	
	#hero-caption {
		max-width: 900px;
	}
	
	.hero-title, h1.big-title {
    	font-size: 60px;
		line-height:70px;
	}
	
	.hero-title span {
		line-height: 60px;
		height: 70px;
	}
	
	footer {
    	padding: 70px 0 100px 0;
	}
	
	.full .container {
		padding: 0 80px;
	}


	
}


@media only screen and (max-width: 1024px) {
	
	/* Header And Footer */
	
	header {
		position:relative;
		top: 0!important;
	}
	
	#header-container {
		padding: 20px 0;
		margin: 0px auto;
	}
	
	#logo {
		margin-left:50px;
		margin-bottom:20px;
	}
	
	nav {
		background: #fff;
		padding: 0 50px;
	}
	
	.flexnav li a {
    	color: #222 !important;
	}
	
	#menu-burger {
		display: block;
		position: absolute;
		right: 50px;
		top: 35px;
	}
	
	#menu-burger span.touch-button {
		display:none;
	}
	
	#page-action-holder {
		left:50px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
		
	.progress-page {
		right: 50px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	/* Hero Styles */
	
	#hero {
		margin-top:-120px;
	}
	
	#hero, #hero-styles {
		position:relative;
		height: 100vh;
	}
	
	#hero-height {
		display:none;
	}
	
	#hero-caption { 
		position:fixed;
		max-width:100%;
		top:0;
		padding: 0 50px;
	}
	
	.hero-title, h1.big-title {
    	font-size: 50px;
		line-height:60px;
	}
	
	.hero-title span {
		line-height: 50px;
		height: 60px;
		margin: 0 5px;
	}
	
	#hero-image {
		background: center center no-repeat scroll;
		background-size:cover!important;
	}
	
	.full .container {
		padding: 0 50px;
	}
	
	
	
	
}


@media only screen and (max-width: 767px) {
	
	/* Header And Footer */
	
	#logo {
		margin-left:40px;
	}
	
	nav {
		background: #fff;
		padding: 0 40px;
	}
	
	#menu-burger {
		display: block;
		position: absolute;
		right: 40px;
		top: 35px;
	}
	
	
	footer {
		padding: 50px 0 50px 0;
	}
	
	#page-action-holder {
		top:50px;
		left:40px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
		
	.progress-page {
		top:50px;
		right: 40px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	/* Hero Styles */
	
	#hero-caption { 
		padding: 0 40px;
	}
	
	.hero-title, h1.big-title {
    	font-size: 40px;
		line-height:50px;
	}
	
	.hero-title span {
		line-height: 40px;
		height: 50px;
		margin: 0 4px;
	}
	
	/* Content Styles */
	
	.container, .small .container {
    	padding: 0 40px;
	}
	
	.full .container {
		padding: 0 40px;
	}

	
	.one_half {
    	width: 100%;
	}	

	.one_third {
		width: 100%;
	}	

	.one_fourth {
		width: 100%;
	}	

	.one_fifth {
		width: 100%;
	}	

	.one_sixth {
		width: 100%;
	}	

	.two_fifth {
		width: 100%;
	}	

	.two_fourth {
		width: 100%;
	}		

	.two_third {
		width: 100%;
	}	

	.three_fifth {
		width: 100%;
	}	

	.three_fourth {
		width: 100%;
	}	

	.four_fifth {
		width: 100%;
	}	

	.five_sixth {
		width: 100%;
	}	

	.one_half, .one_third, .two_third, .three_fourth, .one_fourth, .two_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
		margin-bottom: 20px;
		margin-right: 0%;
	}
	
	.socials-text li {
		display:table;
		margin:0 auto!important;
	}
	
	
	
}


@media only screen and (max-width: 479px) {	
	
	/* Header And Footer */
	
	#logo {
		margin-left:30px;
	}
	
	nav {
		background: #fff;
		padding: 0 30px;
	}
	
	#menu-burger {
		display: block;
		position: absolute;
		right: 30px;
		top: 35px;
	}
	
	#page-action-holder {
		left:30px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
		
	.progress-page {
		right: 30px;
		position:absolute;
		opacity:1;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	
	/* Hero Styles */
	
	#hero-caption { 
		padding: 0 30px;
		padding-top:100px;
	}
	
	.hero-title, h1.big-title {
    	font-size: 30px;
		line-height:20px;
	}
	
	.hero-title span {
		line-height: 40px;
		height: 48px;
		margin: 0 3px;
	}
	
	
	/* Content Styles */
	
	.container, .small .container {
    	padding: 0 30px;
	}
	
	.full .container {
		padding: 0 30px;
	}
		
}			
